<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, maximum-scale=1">
 <title>Bookmarks</title>
</head>
<body>
    <h1>Bookmarks</h1>
    <ul>
        <% bookmarks.forEach((bookmark, index) => { %>
			<li id="bookmark-<%= index %>" >
				<form action="/bookmarks/<%= bookmark.id %>?_method=DELETE" method="post">
					<span><%= bookmark.url %></span>
					<input id="delete-button-<%= index %>" type="submit" value="Delete">
				</form>
			</li>
        <% }) %>
    </ul>
    <form action="/bookmarks" method="POST">
        <input id="addForm" type="text" name="url">
        <input id="addButton" type="submit" value="Add">
    </form>
</body>
</html>